<div class="box">
  <h3>iCal</h3>
  <% if File.file?(project.cal_filename) %>
    <%= link_to t('redmine_ical.download'), project_ical_path(project) %>
  <% else %>
    <p><%= t('redmine_ical.not_found') %></p>
  <% end %>
</div>
